<%= form_for  [@resource, @quiz]  do |f| %>
  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% @quiz.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question %><br>
    <%= f.text_area :question %>
  </div>
  <div class="field">
    <%= f.label :multianswer %><br>
    <%= f.check_box :multianswer %> 	
  </div>
  <div class="field">
    <%= f.label :numanswers, "Number of answers" %><br>
    <%= f.text_field :numanswers %> 	
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
