<div class="form">

<%= form_for [test],url: quiz_solve_path(test) do |f| %>
 <% if test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% test.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="question">
    <h3>Question:</h3>
    <%=raw test.question %>
  </div>
  
  <div class="answers">
    <h3>Answers:</h3>
     <% index=0 %>
    <% test.answers.each do |answer| %>
      <%= f.fields_for "answer", index:answer do |answers_form|%>
        
        <div class="checkbox">
          <%= answers_form.label :answers , answer %>
  
          <% if test.multianswer == true %>
            <%= answers_form.check_box :results %> <br>
          <%else%>
            <%= f.radio_button :results, index %> <br>
          <%end%>
        </div>
      
      <%end%>     
     <%index = index + 1 %>
    <% end %>
  </div>
 
 <div class="actions center">
    <%= f.submit "Submit", :class => 'btn btn-lg btn-primary' %>
 </div>

<% end %>
</div>
