<div class="card resource">
	<h2 class="card-heading lg"><%= @quiz.name %></h2>

	<div class="card-body">
   <div class="question">
    <%=raw @quiz.question %>
     <% @quiz.answers.each do |test| %>
       <% if @answer.to_s.eql?(test.id.to_s) %>
         <input type="radio" id="<%=test.id%>" disabled="true" checked="true"><%=test.answer%></input> <br>
           <%if @correct.to_s.eql?(test.id.to_s) %>
             <span style='color : green' class='glyphicon glyphicon-ok'></span><br>
           <% else%>
             <span style='color : red' class='glyphicon glyphicon-remove'></span><br>
           <% end%>
      <% else%>
         <input type="radio" id="<%=test.id%>" disabled="true" ><%=test.answer%></input><br>
         <%if @correct.to_s.eql?(test.id.to_s) %>
           <span style='color : red'  class='glyphicon glyphicon-remove'></span><br>
         <% else%>
           <span style='color : green' class='glyphicon glyphicon-ok'></span><br>
         <% end%>
      <% end%>
    <% end%>
    </div>
  </div>
</div>