<%= form_for [@course,@lecture,test], url:solved_path(@course,@lecture,test),remote:true do |f| %>
  <% test.answers.each do |answer| %>
<% if @scoresClose.empty? and @course.is?(current_user, "student")  %>  
      <input type="radio" id="<%=answer.id%>" name="answer" value="<%=answer.id%>" ><%=answer.answer%></input><br>
    <%else%>
      <% if answer.valid%>  
         <input type="radio" id="<%=answer.id%>" name="answer" disabled="true" checked = "true" value="<%=answer.id%>">        
         <%=answer.answer%></input><br>
      <%else%>
         <input type="radio" id="<%=answer.id%>" name="answer" disabled="true" value="<%=answer.id%>" ><%=answer.answer%></input><br>
      <%end%>
    <% end%>
  <% end%>
  <% if @course.is?(current_user, "student") and  @scoresClose.empty? %>
    <div class="actions center">
     <%= f.submit "Submit", :class => 'btn btn-primary' %>
     </div>
  <% end%>
  <br>
<% end%>