<h1>Adding answers</h1>
<%= form_for  [@resource, @quiz] ,url: resource_quiz_new_answers_path(@resource,@quiz)   do |f| %>
  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% @quiz.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h3> <%=raw @quiz.question%> </h3>
  <%= f.label :answers %><br>
  <% @quiz.numanswers.to_i.times do |answer| %>
    <div class="field">
      <%= f.fields_for "answer", index:answer do|answers_form|%>
      <%= answers_form.text_field :answers %> 
       <% if @quiz.multianswer == true %>
         <%= answers_form.check_box :results %> <br>
       <%else%>
         <%= answers_form.radio_button :results,:checked => false %> <br>
       <%end%>
      <%end%>
    </div>
    <br>
   <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= link_to 'Back', edit_resource_quiz_path(@resource,@quiz) %>
