<div class="form">
  <h2 class="form-signin-heading"><%= @resource.name %> quiz</h2>

<%= form_for [@resource, @quiz],url: resource_quiz_solve_path(@resource,@quiz) do |f| %>
 <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% @quiz.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="question">
    <h3>Question:</h3>
    <%=raw @quiz.question %>
  </div>
  
  <div class="answers">
    <h3>Answers:</h3>
    
    <% @quiz.answers.each do |answer| %>
      <%= f.fields_for "answer", index:answer do |answers_form|%>
        
        <div class="checkbox">
          <%= answers_form.label :answers , answer %>
  
          <% if @quiz.multianswer == true %>
            <%= answers_form.check_box :results %> <br>
          <%else%>
            <%= answers_form.radio_button :results,:checked => false %> <br>
          <%end%>
        </div>
      
      <%end%>     
    <% end %>
  </div>
 
 <div class="actions center">
    <%= f.submit "Submit", :class => 'btn btn-lg btn-primary' %>
 </div>

<% end %>
</div>

<%= link_to 'Back', resource_quizzes_path(@resource), :class => 'btn btn-default' %>
