<div class="form">

 <div class="name">
    <h3>Name:</h3>
    <%=@quiz.name %>
  </div>
  
 <div class="question">
   <h3>Question:</h3>
    <%=raw @quiz.question %>
  </div>
  
  <h3>answers:</h3>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Answer</th>
            <th>Valid</th>
          </tr>
          </thead>
        <tbody>
       <%@quiz.answers.each_with_index do |l,index|%>              
          <tr id='<%=l.answer + l.valid.to_s%>'>
            <td>
              <input type='hidden'  name='array[<%=index%>][answer]' value='<%=l.answer%>'><%=l.answer%></input>
            </td>
            <td>
               <input type='hidden' name='array[<%=index%>][valid]' value='<%=l.valid %>'></input>
               <%if l.valid%>
                  <span class='glyphicon glyphicon-ok'></span>
               <%else%>
                  <span class='glyphicon glyphicon-remove'></span>
               <%end%>
             </td>
           </tr>
            <%end%>
        </tbody>
      </table>

<%= link_to 'Back', user_tests_path, :class => 'btn btn-default' %>
