<div class="form">

<%= form_for [ @quiz],url: quiz_solve_path(@quiz) do |f| %>
 <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% @quiz.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="question">
    <h3>Question:</h3>
    <%=raw @quiz.question %>
  </div>
  
  <div class="answers">
    <h3>Answers:</h3>
     <%   index=0 %>
    <% @quiz.answers.each do |answer| %>
      <%= f.fields_for "answer", index:answer do |answers_form|%>
        
        <div class="checkbox">
          <%= answers_form.label :answers , answer %>
  
          <% if @quiz.multianswer == true %>
            <%= answers_form.check_box :results %> <br>
          <%else%>
            <%= f.radio_button :results, index %> <br>
          <%end%>
        </div>
      
      <%end%>     
     <%index = index + 1 %>
    <% end %>
  </div>
 
 <div class="actions center">
    <%= f.submit "Submit", :class => 'btn btn-lg btn-primary' %>
    <% if @fail=='true'%>
      <%= link_to 'See answers', quiz_see_answers_path(@quiz), :class => 'btn btn-lg btn-warning' %>
    <% end%>
 </div>

<% end %>
</div>

<%= link_to 'Back', user_tests_path, :class => 'btn btn-default' %>
