<%= form_for [@course,@topic,@message] do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card">
   <h1 class="card-heading lg">Create message</h1>
   <div class="card-body">
       <div class="field">
        <%= f.label :title %><br>
         <%= f.text_field :title, style: " width:95%" %>
      </div>
     <br>
      <div class="field">
        <%= f.label :text %><br>
        <%= f.cktext_area :text %>
      </div>
      <br>
     <%= link_to 'Back', course_topic_messages_path(@course,@topic),class: 'btn btn-default ' %>
     <%= f.submit "Create message" ,class: 'btn btn-primary right' %>
    </div>
  </div>  
<% end %>
