<div class="card">
  <div class="card-heading image forum">
    <%= avatar(@topic.user) %>
    <div class="card-heading-header">
      <h3><%= @topic.title %><small> <%=t :by %> <%= @topic.user.full_name %></small></h3>
    </div>

    <div class="card-dates">
      <span class="label label-success"><%= @topic.date.to_formatted_s(:short) %></span>
    </div>    
  </div>

  <div class="card-body">
    <%=raw @topic.content %>
  </div>

  <% if current_user == @topic.user %>
    <div class="card-options">
      <div class="options-collapse-toggle">
         <a data-toggle="collapse" data-target="#c<%= @topic.id %>-options" href="#c<%= @topic.id %>-options">Actions<i class="icon-angle-down"></i></a>
      </div>    

      <div id="c<%= @topic.id %>-options" class="options collapse">
        <%= link_to :edit, edit_course_topic_path(@course,@topic), :class => 'btn btn-warning' %>
        <%= link_to :destroy, [@course,@topic], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
      </div>
    </div>
  <% end %>        
</div>

 <% @messages.each do |message| %>
  <div class="card">
    <div class="card-heading image forum">
      <%= avatar(message.user) %>
      <div class="card-heading-header">
        <h3><%= message.title %><small> <%=t :by %> <%= message.user.full_name %></small></h3>
        
      </div>

      <div class="card-dates">
        <span class="label label-success"><%= message.date.to_formatted_s(:short) %></span>
      </div>    
    </div>

    <div class="card-body">
      <%=raw message.content %>
    </div>

    <% if current_user == message.user %>
      <div class="card-options">
        <div class="options-collapse-toggle">
           <a data-toggle="collapse" data-target="#c<%= message.id %>-options" href="#c<%= message.id %>-options">Actions<i class="icon-angle-down"></i></a>
        </div>    

        <div id="c<%= message.id %>-options" class="options collapse">
          <%= link_to :edit, edit_course_topic_message_path(@course,@topic, message), :class => 'btn btn-warning' %>
          <%= link_to :destroy, [@course,@topic, message], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
        </div>
      </div>
    <% end %>        
  </div>
<% end %> 
<% if can_create_message? %>
    <%= link_to 'Back', course_topics_path(@course),class: 'btn btn-default ' %>
    <%= link_to 'New Message', new_course_topic_message_path(@course,@topic),class: 'btn btn-primary right' %>
<%end%>