<%= link_to solve_path(@course, @lecture, listtest), remote: true do %>
  <div class="row">
    <div class="col-md-1" style="color:#666666">
      <% if listtest.active %>
        <span data-testinlecture-id="<%= listtest.id %>" data-lecture-id="<%= @lecture.id %>" data-course-id="<%= @course.id %>" id="testinlecture_active" style="cursor:pointer" class="glyphicon glyphicon-eye-open"></span>
      <% else %>
        <span data-testinlecture-id="<%= listtest.id %>" data-lecture-id="<%= @lecture.id %>" data-course-id="<%= @course.id %>" id="testinlecture_inactive" style="cursor:pointer" class="glyphicon glyphicon-eye-close"></span>
      <% end %>
    </div>
    <div class="col-md-9" style="color:#666666"><%= listtest.test.name %></div>
    <div style="padding-right:10px"><span class="glyphicon glyphicon-chevron-right right"></span></div>
  </div>
<% end %>