<div id="lesson-header" class="card">
  <h2 class="card-heading lg"><%= @lecture.name %></h2>
  <div class="card-body">
    <p><%=raw @lecture.description %></p>
  </div>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="bs-component">
      <div id="lessons-student" class="list-group" >
		    <% @lessons.each_with_index do |lesson, index| %>
		    	<div id="<%= lesson.id %>" class="list-group-item" data-lecture-id="<%= @lecture.id %>" data-course-id="<%= @course.id %>">
						<%= render partial: 'listlessonstudent', object: lesson, lecture: @lecture, course: @course %>
		      </div>
		    <% end %>
			</div>
		</div>
	</div>
	<div id="lesson" class="col-md-8">
		<% if !@lesson.nil? %>
			<%= render @lesson %>
		<% else %>
			<div class="card" style="margin-top:2px">
				<h2 class="card-heading lg">No hay leccones disponibles.</h2>
				<div class="card-body">
					<p>No hay lecciones disponibles en este momento, intentelo mas tarde.</p>
				</div>
			</div>
		<% end %>
	</div>
</div>


<%= link_to 'Back', course_lectures_path(@course), :class => 'btn btn-default' %>