<%= form_for [@course,@topic] do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>
      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <h1 class="card-heading lg">	Create a new topic</h1>
    <div class="card-body">
      <div class="form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title, :class => 'form-control' %>
      </div>
      <div class="form-group" data-no-turbolink>
        <%= f.label :content %><br>
        <%= f.cktext_area :content %>
      </div>    
      <div class="form-group">
        <h4>Select open if everybody can create topics:</h4>    
        <%= f.radio_button :state,"Opened" ,:checked => false ,:style => "margin-left: 60px"%> 
        <label style="font-style:normal">Open</label>
        <%= f.radio_button :state, "Closed" ,:checked => false ,:style => "margin-left: 60px" %> 
        <label  style="font-style:normal">Close</label>
      </div>
    </div>
  </div>

  <div class="buttons">
    <%= link_to 'Back', course_topics_path(@course), class: 'btn btn-default ' %>
    <%= f.submit "Create topic", class: 'btn btn-primary right' %>
  </div>
<% end %>
