<%= form_for [@course,@topic] do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card">
 <h1 class="card-heading lg">	Create a new topic	 </h1>
      <div class="card-body">
  <div class="field">
    <h3><%= f.label :title %><br></h3>
    <%= f.cktext_area :title %>
  </div>
    <br>
    <h4>Select open if everybody can create topics:</h4>    
        <%= f.radio_button :state,"Opened" ,:checked => false ,:style => "margin-left: 60px"%> 
      <label style="font-style:normal">Open</label>
      <%= f.radio_button :state, "Closed" ,:checked => false ,:style => "margin-left: 60px" %> 
      <label  style="font-style:normal">Close</label>
  </div>

 </div>
        <%= link_to 'Back', course_topics_path(@course),class: 'btn btn-default ' %>
        <%= f.submit "Create topic" ,class: 'btn btn-primary right' %>
</div>
<% end %>
