<% @topics.each do |topic| %>
<%= link_to(course_topic_messages_path(@course,topic)) do %>
	<div class="card">
    	<h1 class="card-heading lg">	<%= topic.createBy %>	 </h1>
      <div class="card-body">
        <span style='margin : 20px'><%= image_tag '1400189685_topic.png' %></span>      
         <%=topic.title%>        
         <% if can_edit_topic?(topic) %>
          <%= link_to 'Edit', edit_course_topic_path(@course,topic), class: 'btn btn-warning btn-sm right' %>
          <%= link_to 'Destroy', [@course,topic],class: 'btn btn-danger btn-sm right', method: :delete, data: { confirm: 'Are you sure?' } %>   
         <% end %>  
        <h6><%= topic.creation_Date.to_s(:db) %></h6>  
       
			</div>
		</div>    
<% end %>
   

   
  <br>
<% end %>  
<br>
<%= link_to 'Back', course_path(@course) ,:class => 'btn btn-default' %>
<% if can_create_topic? %>
  <%= link_to 'New Topic', new_course_topic_path(@course) ,:class => 'btn btn-primary right' %>
<% end %>  
