<div class="card">
  <h2 class="card-heading lg"><%=t :admin_panel %></h2>
  <div class="card-body">
    <p></p>
  </div>
</div>

<div class="row">
	<div class="col-md-2">
      <div id="menu" class="list-group" >
		    <div id="users" class="list-group-item">
		    	<%= link_to admin_users_path, remote: true do %>
						<div class="row">
							<div class="col-md-8">
								Users
							</div>
							<div class="col-md-4">
								<span style="color:#18bc9c" class="glyphicon glyphicon-chevron-right right"></span>
							</div>
						</div>
		    	<% end %>
		    </div>
		    <div id="courses" class="list-group-item">
		    	<%= link_to admin_courses_path, remote: true do %>
						<div class="row">
							<div class="col-md-8">
								Courses
							</div>
							<div class="col-md-4">
								<span style="color:#18bc9c" class="glyphicon glyphicon-chevron-right right"></span>
							</div>
						</div>
		    	<% end %>
		    </div>
		    <div id="resources" class="list-group-item">
		    	<%= link_to admin_resources_path, remote: true do %>
						<div class="row">
							<div class="col-md-8">
								Resources
							</div>
							<div class="col-md-4">
								<span style="color:#18bc9c" class="glyphicon glyphicon-chevron-right right"></span>
							</div>
						</div>
		    	<% end %>
		    </div> 
		    <div id="admin_feedback" class="list-group-item">
		    	<%= link_to admin_feedback_path, remote: true do %>
						<div class="row">
							<div class="col-md-8">
								Feedback
							</div>
							<div class="col-md-4">
								<span style="color:#18bc9c" class="glyphicon glyphicon-chevron-right right"></span>
							</div>
						</div>
		    	<% end %>
		    </div>	  
			</div>
	</div>
	<div id="section" class="col-md-10">
		<div class="card" style="margin-top:2px">
			<h2 id="section-header" class="card-heading lg"><%=t :welcome_admin_panel %></h2>
			<div id="section-body" class="card-body">
				<p><%=t :select_a_section %></p>
			</div>
		</div>
	</div>
</div>