<div class="row">
  <div class="col-md-4">
    <div class="card profile">
      <h2 class="card-heading lg"><%= @user.name + " " + @user.lastname %> <small>profile</small></h2>
      <div class="avatar">
        <% if @user.photo_file_name.nil? %>
          <%= image_tag 'buddyicon.jpg' %>         
        <% else %>
          <%= image_tag @user.photo %>
        <% end %>
      </div>      
      <div class="card-body">
        <h4 align="center"><%= @user.email %></h4>
      </div>
    </div>  
  </div>
  <div class="col-md-8">
    <div class="card">
      <h2 class="card-heading title">Courses <small>Listing <%= @user.active_courses.length %> courses</small></h2>
    </div>
    <% @user.active_courses.each_with_index do |course, index| %>
    
      <% if (index + 1) % 2 == 1 || index == 0 %>
        <div class="row">
      <% end %>

        <div class="col-md-6">
          <%= render partial: "courses/course", locals: { course: course } %>
        </div>

      <% if index % 2 == 1 %>   
        </div>
      <% end %>
    
    <% end %>
  </div>
</div>

<div class="buttons">
	<%= link_to 'Back', root_url, :class => "btn btn-default left" %>
	<%= link_to 'Edit profile', edit_profile_path, :class => "btn btn-info right" %>
</div>
