<% if @current_user.resources.empty? %>
	<h3 style="text-align:center">No has creado ningún recurso.</h3>
<% else %>
	<div class="page-header">
		<h2>Listing my resources</h2>
	</div>

	<table class="table table-stripped">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Type</th>
	      <th>Url</th>
	      <th></th>
	      <th></th>
	      <th></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @current_user.resources.each do |resource| %>
	      <tr>
	        <td><%= resource.name %></td>
	        <td>
		      	<% if resource.type == "video" %>
		      		<span class="glyphicon glyphicon-play"></span>
		      	<% elsif resource.type == "audio" %>
		      		<span class="glyphicon glyphicon-headphones"></span>
		      	<% elsif resource.type == "pdf" %>
		      		<span class="glyphicon glyphicon-file"></span>
		      	<% elsif resource.type == "text" %>
		      		<span class="glyphicon glyphicon-pencil"></span>
		      	<% end %>
	        </td>
	        <td><%= resource.url %></td>
	        <td><%= link_to 'Show', resource %></td>
	        <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
          <td><%= link_to 'Add Test', resource_tests_path(resource)%></td>
	        <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' }%></td>
         
      </tr>
	    <% end %>
	  </tbody>
	</table>
<% end %>
<center>
	<%= link_to 'New resource', new_resource_path, :class => 'btn btn-success' %>
</center>