<div class="row">
	<div class="col-md-6">
    <div class="card">
      <h2 class="card-heading title"><%=t :student %> <small>Listing <%= current_user.courses_by(:student).where(active: true).length %> courses</small></h2>
    </div>

		<% if current_user.courses_by(:student).where(active: true).to_a.empty? %>
			<div class="card">
				<h2 class="card-heading title center">You are not member of any course</h2>
			</div>
		<% else %>
			<% current_user.courses_by(:student).to_a.each do |course| %>
				<%= render partial: "courses/course", locals: { course: course } %>
			<% end %>
		<% end %>
		<div class="center">
			<%= link_to "See the available courses", lastest_courses_path(), :class => "btn btn-info" %>
		</div>

	</div>
	
	<div class="col-md-6">
    <div class="card">
      <h2 class="card-heading title"><%=t :teacher %> <small>Listing <%= current_user.courses_by(:teacher).length %> courses</small></h2>
    </div>
		<% if current_user.courses_by(:teacher).to_a.empty? %>
			<div class="card">
				<h2 class="card-heading title center">You are not teacher of any course</h2>
			</div>
		<% else %>
			<% current_user.courses_by(:teacher).to_a.each do |course| %>
				<%= render partial: "courses/course", locals: { course: course } %>
			<% end %>
		<% end %>
		<div class="center">
			<%= link_to "Create a course", new_course_path(), :class => "btn btn-success" %>
		</div>
	</div>	
</div>