<div class="row">
	<div class="col-md-6">
		<div class="page-header">
			<h2>As student<h2>
		</div>

		<% if current_user.courses_by(:student).to_a.empty? %>
			<div class="center">
				<h3>You are not member of any course</h3>
			</div>
		<% else %>
			<% current_user.courses_by(:student).to_a.each do |course| %>
				<div class="result">
					<h3><%= course.name %></h3>
					<p><%= course.abstract %></p>
					<%= link_to "Show course", course_path(course.id), :class => "btn btn-primary" %>
				</div>
			<% end %>
		<% end %>
		<div class="center">
			<%= link_to "See the available courses", lastest_courses_path(), :class => "btn btn-info" %>
		</div>

	</div>
	
	<div class="col-md-6">
		<div class="page-header">
			<h2>As teacher <h2>
		</div>
		<% if current_user.courses_by(:teacher).to_a.empty? %>
			<div class="center">
				<h3>You are not a teacher of any course</h3>
			</div>
		<% else %>
			<% current_user.courses_by(:teacher).to_a.each do |course| %>
				<div class="result">
					<h3><%= course.name %></h3>
					<p><%= course.abstract %></p>
					<%= link_to "Show course", course_path(course.id), :class => "btn btn-primary" %>
				</div>
			<% end %>
		<% end %>
		<div class="center">
			<%= link_to "Create a course", new_course_path(), :class => "btn btn-success" %>
		</div>
	</div>	
</div>