<% if @courses.empty? %>
	<h3 style="text-align:center">No courses available at this time, check back soon.</h3>
<% else %>
	<div class="row">
		<div class="col-md-6">
			<div class="page-header">
				<h2>New courses</h2>
			</div>

			<% @courses.each do |course| %>
				<div class="result">
					<h3><%= course.name %></h3>
					<p><%= course.abstract %></p>
					<%= link_to "Show course", course_path(course.id), :class => "btn btn-primary" %>
				</div>
			<% end %>
		</div>
		<div class="col-md-6">
			<div class="page-header">
				<h2>Popular courses</h2>
			</div>

			<% @courses.each do |course| %>
				<div class="result">
					<h3><%= course.name %></h3>
					<p><%= course.abstract %></p>
					<%= link_to "Show course", course_path(course.id), :class => "btn btn-primary" %>
				</div>
			<% end %>
		</div>
	</div>	
<% end %>