<% if @courses.empty? %>
	<div class="card">
		<h2 class="card-heading title"><%=t :no_courses %></h2>
	</div>
<% else %>
	<div class="row">
		<div class="col-md-4">
			<div class="card">
				<h2 class="card-heading title"><%=t :categories %></h2>
			</div>
			
			<ul class="list-group">
				<% @categories.each do |category| %>
					<li class="list-group-item">
						<a style="color:#666666" data-remote="true" href="<%= category_path(category['_id']) %>">
							<div class="row">
								<div class="col-md-10">
									<span class="badge" style="margin-right:5px"><%= category['value']['count'].to_i %></span> 
									<%= t("course.categories.#{category['_id']}") %>
								</div>
								<div class="col-md-2">
									<span style="color:#18bc9c" class="glyphicon glyphicon-chevron-right right"></span>
								</div>
							</div>
						</a>
					</li>
				<% end %>
			</ul>
		</div>
		<div class="col-md-8">
			<div class="card">
				<h2 id="category_title" class="card-heading title"><%=t :popular_courses %></h2>
			</div>

			<div id="courses">
				<%= render partial:'welcome/courses', object: @courses %>
		    </div>
		</div>
	</div>	
<% end %>