<div class="card">
  <h2 class="card-heading lg"><%= @course.name %> <small>Listing lessons</small></h2>
  <div class="card-body">
    <p><%= @course.abstract %></p>
  </div>
</div>

<% @lessons.each_with_index do |lesson, index| %>

  <div class="card">
    <div class="card-heading image">
      <%= image_tag("numbers-inv/num#{index}.png", :alt => "Lesson #{index}") %>
     
      <div class="card-heading-header">
        <% if (lesson.start_date < DateTime.now) %>
          <h3><%= link_to lesson.name, course_lesson_path(@course, lesson) %></h3>
        <% else %>
          <h3><%= lesson.name %></h3>
        <% end %>
      </div>

      <div class="card-dates">
        <% if (lesson.start_date < DateTime.now) && (lesson.end_date > DateTime.now) %>
          <span class="label label-warning"><%=t :current %></span>
        <% end %>
        <span class="label label-success"><%= lesson.start_date.to_formatted_s(:short) %></span>
        <span class="label label-danger"><%= lesson.end_date.to_formatted_s(:short) %></span>
      </div>    

    </div>
    <div class="card-body">
      <p><%=raw lesson.description %></p>
    </div>

    <% if @course.is?(current_user, "teacher") %>
      <div class="card-options">
        <div class="options-collapse-toggle">
           <a data-toggle="collapse" data-target="#c<%= index %>-options" href="#c<%= index %>-options">Actions<i class="icon-angle-down"></i></a>
        </div>    

        <div id="c<%= index %>-options" class="options collapse">
          <%= link_to :show, course_lesson_path(@course, lesson), :class => 'btn btn-success' %>
          <%= link_to :edit, edit_course_lesson_path(@course, lesson), :class => 'btn btn-warning' %>
          <%= link_to :destroy, [@course, lesson], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
        </div>
      </div>
    <% end %>        
  </div>

<% end %>


<%= link_to 'Back', course_path(@course), :class => 'btn btn-default' %>

<% if @course.is?(current_user, "teacher") %>
  <%= link_to 'New Lesson', new_course_lesson_path(@course), :class => 'btn btn-success right' %>
<% end %>