<div class="card">
  <h2 class="card-heading lg"><%= @course.name %> <small><%= @lecture.name %></small></h2>
  <div class="card-body">
		<h3><%=t :new_lesson %></h3>
  </div>
</div>

<%= render 'form' %>

<div class="buttons">
	<%= link_to 'Back', course_lecture_path(@course, @lecture), :class => 'btn btn-default' %>
</div>