<p id="notice"><%= notice %></p>

<div class="page-header">
  <h2><%= @lesson.name %> <small><%= link_to 'Student view', course_lesson_path(@course, @lesson, :student => "true"), :class => 'btn btn-info' %></small> </h2>
  <p><%=raw @lesson.description %></p>
</div>

<div class="row">
	<div class="col-md-3">
		<table class="table table-stripped">
		  <thead>
		    <tr>
				<th></th>
		    	<th>Name</th>
		    	<th></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @avaliable_resources.each do |resource| %>
		      <tr>
		      	<td>
		      	<% if resource.type == "video" %>
		      		<%= image_tag("1387049800_social_4.png", :height => "24px", :width => "24px", :alt => "video") %>
		      	<% elsif resource.type == "audio" %>
		      		<%= image_tag("1387133987_media-optical-audio.png", :height => "24px", :width => "24px", :alt => "audio") %>
		      	<% elsif resource.type == "pdf" %>
		      		<%= image_tag("1387134021_application-pdf.png", :height => "24px", :width => "24px", :alt => "pdf") %>
		      	<% elsif resource.type == "text" %>
		      		<%= image_tag("1387134064_readme.png", :height => "24px", :width => "24px", :alt => "text") %>
		      	<% end %>
		      	</td>
		        <td><%= resource.name %></td>
		        <td><%=link_to( image_tag("1387049779_forward.png"), use_resource_path(@course, @lesson, resource)) %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>	
		<center>
			<%= link_to 'New resource', new_resource_path, :class => 'btn btn-success' %>
		</center>					
	</div>	

	<div class="col-md-9">
		<table class="table table-stripped">
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th>Type</th>
		      <th>Url</th>
		      <th></th>
		      <th></th>
		      <th></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @resources.each do |resource| %>
		      <tr>
		        <td><%= resource.name %></td>
		        <td><%= resource.type %></td>
		        <td><%= resource.url %></td>
		        <td><%= link_to 'Show', resource %></td>
            	<td><%= link_to 'Quizzes', resource_quizzes_path(resource) %></td>
		        <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
		        <td><%= link_to 'Delete', del_resource_path(@course, @lesson, resource) %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>		
	</div>
</div>

<%= link_to 'Back', course_lessons_path(@course), :class => 'btn btn-default' %>
