<div class="page-header">
  <h2><%= @course.name %> <small>Listing lessons</small></h2>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each_with_index do |lesson, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= lesson.name %></td>
        <td><%= lesson.start_date.to_formatted_s(:short) %></td>
        <td><%= lesson.end_date.to_formatted_s(:short) %></td>
        <td><%= link_to 'Show', course_lesson_path(@course, lesson) %></td>
        <td><%= link_to 'Edit', edit_course_lesson_path(@course, lesson) %></td>
        <td><%= link_to 'Destroy', [@course, lesson], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', course_path(@course), :class => 'btn btn-default left' %>
<%= link_to 'New Lesson', new_course_lesson_path(@course), :class => 'btn btn-success right' %>
