<div class="card resource">
	<h2 class="card-heading lg"><%= @resource.name %></h2>
	<div class="card-body">
		<div class="center">
			<audio controls>
			    <source src="<%= @resource.url %>" type="audio/ogg" />
			    <source src="<%= @resource.url %>" type="audio/mpeg" />
			    <object type="application/x-shockwave-flash" data="player.swf?soundFile=<%= @resource.url %>">
			        <param name="movie" value="player.swf?soundFile=<%= @resource.url %>" />
			        <a href="<%= @resource.url %>">Download</a>
			    </object>
			</audio>
		</div>

		<p><%=raw @resource.content %></p>
	</div>
</div>