<p id="notice"><%= notice %></p>

<% if @resource.type == "video" %>
  <%= render 'resources/video' %>     
  <% elsif @resource.type == "audio" %>
  <%= render 'resources/audio' %>
<% elsif @resource.type == "pdf" %>        
  <%= render 'resources/pdf' %>
<% elsif @resource.type == "text" %>
  <%= render 'resources/text' %>      
<% end %>

<div class="buttons">
	<%= link_to 'Back', user_resources_path, :class => 'btn btn-default left' %>
	<%= link_to 'Edit', edit_resource_path(@resource), :class => 'btn btn-info right' %>
</div>
