<p id="notice"><%= notice %></p>

<% if @resource.type.include? "video" %>
	<%= render partial: "resources/video", locals: { resource: @resource } %>
<% elsif @resource.type.include? "audio" %>
	<%= render partial: "resources/audio", locals: { resource: @resource } %>
<% elsif @resource.type.include? "pdf" %>        
	<%= render partial: "resources/pdf", locals: { resource: @resource } %>
<% else %>
	<%= render partial: "resources/text", locals: { resource: @resource } %>
<% end %>		

<div class="buttons">
	<%= link_to 'Back', :back, :class => 'btn btn-default left' %>
	<%= link_to 'Edit', edit_resource_path(@resource), :class => 'btn btn-info right' %>
</div>
