<div class="row row-offcanvas row-offcanvas-right">

	<!-- Content -->
	<div class="col-xs-12 col-sm-9">
    <% if @course.is_member?(current_user) && @course.notices.count > 0 %>
      <div class="card">
        <h1 class="card-heading lg"><%= @course.name %></h1>
        <div class="card-body">
          <p><%= @course.abstract %></p>        
        </div>        
      </div>
      <% @course.notices.each do |notice| %>
        <%= render partial: notice %>
      <% end %>
    <% else %>
  		<div class="card">
      	<h1 class="card-heading lg"><%= @course.name %></h1>
        <div class="card-body">
   			  <p><%=raw @course.desc %></p>				 
  			</div>
  		</div>
    <% end %>
	  <div class="buttons">
			<%= link_to 'Back', :back, :class => 'btn btn-default left' %>
		</div>		
	</div>
	<!-- End Content -->

	<!-- Sidebar -->
  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="info">
    <div class="list-group" >
	    	<% if !@course.is_member?(current_user) %>
					<div class="list-group-item center">
            <div class="row">
              <div class="col-md-2 main-color">
                <span class="glyphicon glyphicon-plus"></span>
              </div>
              <div class="col-md-10">
                <%= link_to 'Join', join_course_path(@course.id) %>
              </div>
            </div>
          </div>
				<% else %>
					<% if @course.is?(current_user, 'teacher') %>
            <div class="list-group-item">
              <div class="row">
                <div class="col-md-2 main-color">   
                  <% if @course.active %>         
                    <span class="glyphicon glyphicon-ok"></span>
                  <% else %>
                    <span class="glyphicon glyphicon-remove"></span>
                  <% end %>
                </div>
                <div class="col-md-10">
                  <% if @course.active %>
                    <%= link_to t(:active), course_change_state_path(@course.id) %>
                  <% else %>
                    <%= link_to t(:inactive), course_change_state_path(@course.id) %>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="list-group-item">
              <div class="row">
                <div class="col-md-2 main-color">            
                  <span class="glyphicon glyphicon-comment"></span>
                </div>
                <div class="col-md-10">
                  <%= link_to ' New Notice', new_course_notice_path(@course) %>
                </div>
              </div>
            </div>

            <div class="list-group-item">
              <div class="row">
                <div class="col-md-2 main-color">            
						      <span class="glyphicon glyphicon-pencil"></span>
                </div>
                <div class="col-md-10">
                  <%= link_to ' Edit', edit_course_path(@course) %>
                </div>
              </div>
            </div>
					<% end %>

          <div class="list-group-item">
            <div class="row">
              <div class="col-md-2 main-color">            
                <span class="glyphicon glyphicon-th-list"></span>
              </div>
              <div class="col-md-10">
                <%= link_to ' Lectures', course_lectures_path(@course.id) %>
              </div>
            </div>
          </div>					

          <div class="list-group-item">
            <div class="row">
              <div class="col-md-2 main-color">            
                <span class="glyphicon glyphicon-bullhorn"></span>
              </div>
              <div class="col-md-10">
                <%= link_to ' Forum', course_topics_path(@course) %>
              </div>
            </div>
          </div>          

          <div class="list-group-item">
            <div class="row">
              <div class="col-md-2 main-color">            
                <span class="glyphicon glyphicon-signal"></span>
              </div>
              <div class="col-md-10">
                <%= link_to ' Tracking', course_tracking_path(@course) %>
              </div>
            </div>
          </div>     
			<% end %>
  	</div>    	
  	<div class="card">
	 	  <h3 class="card-heading md">Info</h3>
			<div class="card-body">	
	    	<h4>STARTS</h4>
				<p><%= @course.start_date.to_formatted_s(:short) %></p>
				<h4>ENDS</h4>
				<p><%= @course.end_date.to_formatted_s(:short)    %></p>
				<h4>ESTIMATED EFFORT</h4>
				<p><%= @course.estimated_effort %></p>
	      <h4>PREREQUISITES</h4>
				<p><%=raw @course.prerequisites %></p>
			</div>
  	</div>
    <% @course.members_by("teacher").each do |teacher| %> 
  	  <div class="card" style="margin-top:50px">
        <div class="card-heading image md center">
          <%= avatar(teacher) %>
        </div>
			  <div class="card-body">
		    	<h4>Teacher</h4>
					<p><%= teacher.full_name %></p>
					<h4>e-mail</h4>
					<p><%= teacher.email %></p>
			  </div>
  	  </div>
    <% end %> 
    	
  </div>
  <!-- End Sidebar -->
</div>

