<div class="row row-offcanvas row-offcanvas-right">
	<div class="col-xs-12 col-sm-9">
		<div class="page-header">
		  <h1><%= @course.name %></h1>
		</div>
        <p><%=raw @course.desc %></p>		

        <div class="buttons">
			<%= link_to 'Back to home', root_url, :class => 'btn btn-default' %>
		</div>
	</div>

    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="info">
    	<div class="panel panel-default"  style="margin-top:50px">
    		<div class="panel-body center">
				<%= link_to 'Edit', edit_course_path(@course), :class => 'btn btn-info' %>    			
				<%= link_to 'Lessons', course_lessons_path(@course.id), :class => 'btn btn-warning' %>
    		</div>
    	</div>
    	<div class="panel panel-success">
            <div class="panel-heading">
		 	   <h3 class="panel-title">Info</h3>
			</div>    	
			<div class="panel-body">	
	    		<h4>STARTS</h4>
				<p><%= @course.start_date.to_formatted_s(:short) %></p>
				<h4>ENDS</h4>
				<p><%= @course.end_date.to_formatted_s(:short)    %></p>
				<h4>ESTIMATED EFFORT</h4>
				<p><%= @course.estimated_effort %></p>
				<h4>PREREQUISITES</h4>
				<p><%=raw @course.prerequisites %></p>
			</div>
    	</div>
    	<div class="panel panel-info" style="margin-top:50px">
            <div class="panel-heading">
		 	   <h3 class="panel-title">Teacher/s</h3>
			</div>    	
			<div class="panel-body">
				<% @teachers.each do |teacher| %>	
		    		<h4>Name</h4>
					<p><%= teacher.username %></p>
					<h4>e-mail</h4>
					<p><%= teacher.email %></p>
				<% end %>	
			</div>
    	</div>    	
    </div><!--/span-->	
</div>

